{% extends 'layout.html.twig' %}

{% block title %}Halloween à Gertwiller{% endblock %}

{% block content %}
<h3>Ma collection.</h3>
<ul>
    {% for collection in collections %}
    <li>{{ collection.quantity }} {{ collection.bonbonName }}(s)</li>
    {% endfor %}
</ul>

    <p>Super ton nombre de points est {{ totalPoints.points }}!! </p>

    <p>Bravo tu as récolté {{ totalQuantity.quantity }} bonbons!</p>

{% endblock %}