{% extends 'layout.html.twig' %}

{% block title %}Halloween à Gertwiller{% endblock %}

{% block content %}

    <div class="container-fluid p-0">
        <header class="carousel slide" data-ride="carousel">
            <div class="carousel-item active d-block justify-content-center">
                <img src="../assets/images/index_background.jpg" alt="Atelier de fleuriste" class="image_header">
            </div>
        </header>
        <h1 class="position-relative">La grande récolte de bonbons de Gertwiller</h1>
        <div class="row justify-content-center">
            <a href="/login/" class="btn btn-orange position-relative">Participer</a>
        </div>

    </div>

{% endblock %}