


{% block content %}

<form method="post">
    <input type="text" class="form-control" name="pseudo" id="pseudo" placeholder="pseudo"/>
    <input type="submit" id="login" name="login" value="login"/>
</form>

{% endblock %}