{% extends 'layout.html.twig' %}

{% block title %}Carte d'halloween{% endblock %}

{% block content %}



<nav class="navbar bg-blue fixed-bottom">
    <ul class="nav nav-pills m-auto justify-content-around">
        <li class="nav-item active col">
            <a href="/collection/" class="nav-link"><i class="fas fa-user-alt"></i></a>
        </li>
        <li class="nav-item col">
            <a href="/map/" class="nav-link"><i class="far fa-map"></i></a>
        </li>
        <li class="nav-item col">
            <a href="/ranking/" class="nav-link"><i class="fas fa-list-ol"></i></a>
        </li>
        <li class="nav-item col">
            <a href="/login/" class="nav-link"><i class="fas fa-sign-out-alt"></i></a>
        </li>
    </ul>
</nav>


        <div class="container-fluid p-0">
                <a href="/gain/"><button class="btn-map1">bouton</button></a>
                <a href="/gain/"><button class="btn-map2">bouton</button></a>
                <a href="/gain/"><button class="btn-map3">bouton</button></a>
                <a href="/gain/"><button class="btn-map4">bouton</button></a>
                <iframe width="400px" height="700px" frameBorder="0" allowfullscreen src="https://umap.openstreetmap.fr/fr/map/halloween-map_261193#17/48.41471/7.46564?scaleControl=false&miniMap=false&scrollWheelZoom=false&zoomControl=true&allowEdit=false&moreControl=true&searchControl=null&tilelayersControl=null&embedControl=null&datalayersControl=true&onLoadPanel=undefined&captionBar=false"></iframe>
        </div>




{% endblock %}