{% extends 'layout.html.twig' %}

{% block title %}Carte d'halloween{% endblock %}

{% block content %}



<nav class="navbar bg-blue fixed-bottom">
    <ul class="nav nav-pills m-auto justify-content-around">
        <li class="nav-item active col">
            <a href="/collection/" class="nav-link"><i class="fas fa-user-alt"></i></a>
        </li>
        <li class="nav-item col">
            <a href="/map/" class="nav-link"><i class="far fa-map"></i></a>
        </li>
        <li class="nav-item col">
            <a href="/ranking/" class="nav-link"><i class="fas fa-list-ol"></i></a>
        </li>
        <li class="nav-item col">
            <a href="/login/" class="nav-link"><i class="fas fa-sign-out-alt"></i></a>
        </li>
    </ul>
</nav>

{% endblock %}