h1{
    font-family: 'Griffy', cursive;
    text-align: center;
    font-size:12vw;
    padding-top: 140px;
    padding-left: 30px;
    padding-right: 30px;
    color: darkorange;
    text-shadow: 0 0 50px rgb(9,18,32);
}

a{
    color: white;
}

.image_header{
    padding-left: 0px;
    padding-right: 0px;
    align-content: center;
    width: 100%;
    object-fit: cover;
    position:fixed;
    top:0;
    z-index: 0;
}

.btn-orange{
    color: black;
    background-color: darkorange;
    border-color: darkorange;
    font-family: 'Griffy', cursive;
    font-size: 7vw;
    align-items: center;
    top:190px;
}

.form-control{
    font-family: 'Griffy', cursive;
    font-size: 3rm;
}

.bg-blue{
    background-color: rgb(9,18,32);
}