h1{
    font-family: 'Griffy', cursive;
    text-align: center;
    font-size:12vw;
    padding-top: 140px;
    padding-left: 30px;
    padding-right: 30px;
    color: darkorange;
    text-shadow: 0 0 50px rgb(9,18,32);
}

p{
    font-family: 'Griffy', cursive;
    text-align: center;
    font-size:7vw;
    padding-left: 10px;
    padding-right: 10px;
    color: darkorange;
    text-shadow: 0 0 50px rgb(9,18,32);
    line-height: 1.2;
}

a{
    color: white;

}

th, td{
    color: white;
    font-size: 18pt;
}

.table td{
    padding-bottom: 0;
    padding-top: 0;
}

.image_header{
    padding-left: 0px;
    padding-right: 0px;
    align-content: center;
    width: 100%;
    object-fit: cover;
    position:fixed;
    top:0;
    z-index: 0;
}

.btn-orange{
    color: black;
    background-color: darkorange;
    border-color: darkorange;
    font-family: 'Griffy', cursive;
    font-size: 7vw;
    align-items: center;
    top:190px;
}

.form-control{
    font-family: 'Griffy', cursive;
    font-size: 3rm;
}

.bg-blue{
    background-color: rgb(9,18,32);
}

span{
    font-family: 'Griffy', cursive;
    text-align: center;
    font-size:10vw;
    padding-top: 140px;
    color: white;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: darkorange;
    text-shadow: 0 0 50px rgb(9,18,32);
}

li.text{
    font-family: 'Griffy', cursive;
    text-align: center;
    font-size:8vw;
    /*padding-left: 30px;*/
    /*padding-right: 30px;*/
    color: darkorange;
    text-shadow: 0 0 40px rgb(9,18,32);
    list-style-type: none;
    margin: 0px;
    line-height: 1.2;
}

li.collection{
    font-family: 'Griffy', cursive;
    font-size:7vw;
    /*padding-left: 30px;*/
    /*padding-right: 30px;*/
    color: darkorange;
    text-shadow: 0 0 40px rgb(9,18,32);
    list-style-type: none;
    margin: 0px;
    line-height: 1;
}

li.collection span{
    font-family: 'Griffy', cursive;
    text-align: center;
    font-size:8vw;
    padding-top: 140px;
    color: white;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: darkorange;
    text-shadow: 0 0 50px rgb(9,18,32);
}

h1.collection{
    font-family: 'Griffy', cursive;
    text-align: center;
    font-size:13vw;
    padding-top: 50px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    color: darkorange;
    text-shadow: 0 0 15px rgb(9,18,32);
}

img.badges{
    width: 80px;
}

.btn-map1{
    position: absolute;
    top: 47%;
    right: 60%;
    opacity: 0;
}

.btn-map2{
    position: absolute;
    top: 20%;
    right: 30%;
    opacity: 0;
}
.btn-map3{
    position: absolute;
    top: 45%;
    right: 15%;
    opacity: 0;
}
.btn-map4{
    position: absolute;
    top: 70%;
    right: 10%;
    opacity: 0;
}
